#col-password > .ant-input-affix-wrapper:hover {
    border-top: 'none' !important;
    border-left: 'none' !important;
    border-right: 'none' !important;
    border: 'none' !important;
    border-bottom: 1px solid #1890ff !important;
  }
  
  #col-password > .ant-input-affix-wrapper, .ant-input-affix-wrapper-focused, .ant-input-password  {
    border-top: 'none' !important;
    border-left: 'none' !important;
    border-right: 'none' !important;
    border: 'none' !important;
    border-radius: 0px !important;
  }